@media only screen and (max-width:680px) {
    /* header */

    .header-contentdownbtn button {
        width: 80px;
        font-size: 8px;
    }

    .headertop-logo {
        width: 38px;
        height: 38px;
    }

    /* bars */

    .box-barsslider {
        width: 250px;
    }


    /* main */

    .imgswiper {
        height: 200px !important;
    }

    .boxslidertext {
        font-size: 10px;
    }

    .card-downloadnewgame {
        gap: 15px !important;
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .slidersboxbtn {
        gap: 10px;
        padding: 10px;

    }

    .boxgamebtn {
        gap: 10px !important;
    }

    .boxgamebtn button {
        width: 60px;
        height: 60px;
        scrollbar-width: none;
    }

    .boxgamebtn:hover {
        scrollbar-width: none;
    }

    .boxlogogame {
        gap: 0;
    }

    .boxdownloadbtn {
        height: 140px !important;
        width: 110px !important;
    }

    .allcardgames {
        height: 140px !important;
        width: 110px !important;
    }

    .boxdownloadimg {
        height: 100%;
    }

    .headergamefooter {
        scrollbar-width: none;
    }

    .footercontent {
        grid-template-columns: auto;
        grid-template-rows: 1fr max-content;
    }

    .sectioncompany {
        font-size: 12px;
        height: 150px;
    }

    .textfooter p {
        font-size: 13px;
        width: 300px;
    }

    .gamecompany span {
        font-size: 6px;
        width: 50px;
    }

    .brandslink-footer {
        font-size: 16px;
    }

    .homecontent {
        display: grid;
        padding-top: 0 !important;
        padding: 10px;
        gap: 1rem;
    }

    /* main-all */

      .boxgame-all {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 20px;
        padding-top: 10px;
    }
}

@media only screen and (max-width:980px) {
    .imgswiper {
        height: 300px;
    }

    .card-downloadnewgame {
        gap: 5px;
        grid-template-columns: repeat(4, 1fr);
    }


    .boxdownloadbtn {
        height: 180px;
        width: 180px;
    }

    .allcardgames{
         height: 180px;
        width: 180px;
    }
    
    /* main-all */

      .boxgame-all {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 20px;
        padding-top: 10px;
    }
}

@media only screen and (max-width:1500px) {
    .boxgamebtn {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }

    .boxdownloadbtn {
        height: 190px;
        width: 140px;
    }
    .allcardgames {
        height: 190px;
        width: 140px;
    }

    
    /* main-all */

      .boxgame-all {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding-top: 10px;
    }
}

@media only screen and (max-width:400px) {
    .boxgamebtn {
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 20px;
    }

    .card-downloadnewgame {
        gap: 5px;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    
    /* main-all */

      .boxgame-all {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-top: 10px;
    }

}